QWidget
{
    border: 0px solid #434C5E;
    background-color: #2E3440;
    color: #ABB2BF;
}

QCheckBox::indicator:unchecked
{
    background-color: #1E222A;
    border: 1px solid #434C5E;
    border-radius: 2px;
}

QCheckBox::indicator:checked
{
    border: 2px solid #ABB2BF;
    border-radius: 4px;
}

QRadioButton::indicator:unchecked
{
    background-color: #1E222A;
    border: 1px solid #434C5E;
    border-radius: 4px;
}

QRadioButton::indicator:checked
{
    border: 2px solid #ABB2BF;
    border-radius: 4px;
}

QTextEdit,
QPlainTextEdit
{
    background-color: #1E222A;
    border: 1px solid #434C5E;
    border-radius: 2px;
}

QMenu
{
    border: none;
}

QMenu:icon
{
    padding-left: 20px;
}

QMenu:right-arrow
{
    image: url("$RELPATH/icons/triangle-right.png");
}

QMenuBar,
QMenuBar::item
{
    background-color: #1E222A21;
    color: #ABB2BF;
}

QMenu::item
{
    background-color: #1E222A21;
    color: #ABB2BF;
}

QMenu::item:selected
{
    background-color: #434C5E;
}

QMenuBar::item:hover
{
    background-color: #434C5E43;
    color: #ABB2BF;
}

QMenu::item:hover
{
    background-color: #434C5E43;
    color: #ABB2BF;
}

QMenu::item:disabled
{
    color: #7b88a1;
}

QMenu::separator
{
    height: 1px;
    background: transparent;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

QLineEdit
{
    border: 1px solid #434C5E;
    min-height: 20px;
    border-radius: 2px;
    background: #171A20;
}

QLineEdit:hover,
QLineEdit:focus
{
    border: 1px solid #5f6c85;
}

QTableView
{
    border: none;
    background-color: #1E222A;
}

QListView::item:hover,
QListView::item:default
{
    color: #ABB2BF;
    background-color: #434C5E;
}

QHeaderView::section
{
    background-color: #3B4252;
    border: none;
    padding: 0 10px;
    border-bottom: 1px solid #191919;
}

QHeaderView:horizontal::section
{
    min-height: 20px;
}

QHeaderView:vertical::section
{
}

QTableCornerButton::section
{
    border: none;
}

CustomIDAMemo,
EditContainer
{
    background-color: #1E222A;
    border: 1px solid #434C5E;
    border-radius: 2px;
}

IDAView
{
    background-color: #1E222A;
}

hexview_t
{
    background-color: #1E222A;
}

QScrollBar
{
    background-color: #1E222A;
    width: 15px;
    height: 15px;
    margin: 0 0 0 0;
    border: 0px solid #171A20;
}

QScrollBar::sub-line,
QScrollBar::add-line
{
    width: 0;
    height: 0;
}

QScrollBar::add-page,
QScrollBar::sub-page
{
    background: none;
}

QScrollBar::handle:vertical
{
    min-height: 15px;
}

QScrollBar::handle:horizontal
{
    min-width: 15px;
}

QScrollBar::handle
{
    background-color: #5f6c85;
    margin: 3px;
    border-radius: 2px;
}

QScrollBar:horizontal {
  border-top-width: 1px;
}

QScrollBar:vertical {
  border-left-width: 1px;
}

QToolBar
{
  background-color: #2E3440;
  border: none;
  padding: 12px 6px;
  spacing: 12px;
  border: 1px solid #1E222A;
}

QToolBar:handle {
  padding-right: 10px;
  padding-left: 0;
  width: 10px;
}

QToolBar::handle:horizontal
{
    image: url("$RELPATH/icons/drag.png");
}

QToolBar::separator:horizontal
{
    image: url("$RELPATH/icons/drag.png");
}

QPushButton
{
    background-color: transparent;
    color: #ABB2BF;
    border: 1px solid #434C5E;
    text-align: center;
    min-height: 20px;
    min-width: 50px;
    padding: 0 6px 0 6px;
    border-radius: 2px;
}

QPushButton:hover,
QPushButton:pressed
{
    background-color: #434C5E;
}

TNavBand > QPushButton,
nav_scroll_button_t,
RegJumpButton
{
    min-height: 0;
    min-width: 0;
    padding: 0;
    border: none;
}

DockWidgetTitle
{
    color: #ABB2BF;
    background: transparent;
    min-height: 0px;
    height: 25px;
    padding: 0px 10px 0px 10px;
    border: none;
}

DockWidgetTitle QPushButton
{
    color: #ABB2BF;
    background: transparent;
    border: none;
    min-height: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
}

DockWidgetTitle QPushButton[toolTip="Close"]
{
    qproperty-icon: url("$RELPATH/icons/close.png");
    icon-size: 16px;
}

DockWidgetTitle QPushButton[toolTip="Fullscreen"]
{
    qproperty-icon: url("$RELPATH/icons/chrome-maximize.png");
    icon-size: 16px;
}

DockWidgetTitle QPushButton[toolTip="Float"]
{
    qproperty-icon: url("$RELPATH/icons/chrome-minimize.png");
    icon-size: 16px;
}

IDADockWidget[objectName="Output window"]
{
    qproperty-windowIcon: url("$RELPATH/icons/blank.png");
}

IDADockWidget[objectName="Output window"] DockWidgetTitle
{
    background: #1E222A;
    color: #ABB2BF;
    margin: 0;
}

IDADockWidget[objectName="Output window"] QTextEdit:focus
{
    border: 1px solid #81A1C1;
}

IDADockWidget[objectName="Output window"] QLineEdit
{
    padding-bottom: 2px;
}

IDADockWidget[objectName="Output window"] QGroupBox
{
    margin: 0;
    padding: 0;
    border: none;
}

IDADockWidget[objectName="Output window"] QGroupBox QPushButton
{
    border: none;
    min-width: 70px;
}

IDADockWidget[objectName="Output window"] QGroupBox QPushButton:hover
{
    border: none;
}

IDADockWidget[objectName="Output window"] QGroupBox QPushButton:focus
{
    border: none;
}

QComboBox
{
    color: #ABB2BF;
    padding: 1px 0px 1px 3px;
    border: 1px solid #434C5E;
    border-radius: 2px;
}

QComboBox > QLineEdit,
QComboBox > QLineEdit:hover,
QComboBox > QLineEdit:focus
{
    border: none;
    min-height: default;
}

QComboBox::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    background-color: #434C5E;

    border-left-width: 1px;
    border-left-color: #434C5E;
    border-left-style: solid;
}

QComboBox QAbstractItemView
{
    border: 1px solid #434C5E;
    selection-background-color: #434C5E;
}

QComboBox:!editable
{
    background-color: #434C5E;
}

QComboBox::down-arrow
{
    image: url("$RELPATH/icons/chevron-down.png");
}

IDADockWidget > QWidget > QAbstractButton
{
    background-color: #1E222A;
    border-radius: 3px;
}

IDADockWidget
{
    border: none;
}

QCheckBox,
QLabel,
QRadioButton
{
    background: transparent;
    color: #ABB2BF;
}

QStatusBar QLabel
{
    border: none;
}

QStatusBar, QStatusBar::item {
    background-color: #1E222A;
    color: #ABB2BF;
}

EditContainer,
ChooserContainer,
QGroupBox,
QListView,
QTreeView
{
    background-color: #2E3440;
    color: #ABB2BF;
    border: 1px solid #434C5E;
    outline: 0;
    border-radius: 2px;
}

QGroupBox
{
    border: 1px solid #434C5E;
    margin-top: 5px;
}

QGroupBox::title
{
    subcontrol-origin: margin;
    subcontrol-position: top center;
}

CLIWidget > QGroupBox > QPushButton,
CLIWidget > QGroupBox > QPushButton:hover,
CLIWidget > QGroupBox > QPushButton:focus
{
    border: none;
}

CLIWidget > QGroupBox
{
    margin-top: 0;
}

QTreeView::item:selected,
QListView::item:selected,
QTableView::item:selected
{
    color: #ABB2BF;
    background-color: #434C5E;
    outline: 0;
}

QToolTip,
QTipLabel
{
    border: none;
    background: #1E222A;
    color: #ABB2BF;
    margin: 0;
    padding: 0;
}

QTabBar
{
    background: #1E222A;
}

QTabWidget::pane
{
    background: transparent;
}

QTabBar::tab
{
    padding: 8px 10px;
    background: #2E3440;
    color: #ABB2BF;
}

QTabBar::tab:hover
{
    background-color: #4C566A;
    border-top: 1px solid #ECEFF4;
    color: #ABB2BF;
}

QTabBar::tab:selected
{
    background-color: #3B4252;
    border-top: 1px solid #81A1C1;
    color: #ABB2BF;
}

QTabBar::close-button
{
    image: url("$RELPATH/icons/close.png");
}

QTabBar::close-button:hover
{
    image: url("$RELPATH/icons/close-hover.png");
}

QSpinBox
{
    background: transparent;
    border: 1px solid transparent;
    color: #ABB2BF;
}

QAbstractScrollArea
{
    border: 0;
}

QDialogButtonBox
{
    button-layout: 0;
}

CustomIDAMemo
{
    qproperty-line-fg-default: #5f6c85;
    qproperty-line-fg-regular-comment: #5f6c85;
    qproperty-line-fg-repeatable-comment: #5f6c85;
    qproperty-line-fg-automatic-comment: #5f6c85;
    qproperty-line-fg-insn: #ABB2BF;
    qproperty-line-fg-dummy-data-name: #5E81AC;
    qproperty-line-fg-regular-data-name: #8FBCBB;
    qproperty-line-fg-demangled-name: #AAA;
    qproperty-line-fg-punctuation: #D0CFC8;
    qproperty-line-fg-charlit-in-insn: #A3BE8C;
    qproperty-line-fg-numlit-in-insn: #ABB2BF;
    qproperty-line-fg-void-opnd: #B48EAD;
    qproperty-line-fg-code-xref: #5F6C85;
    qproperty-line-fg-data-xref: #5F6C85;
    qproperty-line-fg-code-xref-to-tail: #5F6C85;
    qproperty-line-fg-data-xref-to-tail: #5F6C85;
    qproperty-line-fg-error: #B48EAD;
    qproperty-line-fg-opcode-byte: #5F6C85;
    qproperty-line-fg-extra-line: #5f6c85;
    qproperty-line-fg-alt-opnd: #ABB2BF;
    qproperty-line-fg-hidden: #8FBCBB;
    qproperty-line-fg-libfunc: #D8DEE9;
    qproperty-line-fg-locvar: #A3BE8C;
    qproperty-line-fg-dummy-code-name: #81A1C1;
    qproperty-line-fg-asm-directive: #ABB2BF;
    qproperty-line-fg-macro: #81A1C1;
    qproperty-line-fg-strlit-in-data: #A3BE8C;
    qproperty-line-fg-strlit-in-insn: #A3BE8C;
    qproperty-line-fg-charlit-in-data: #A3BE8C;
    qproperty-line-fg-numlit-in-data: #ABB2BF;
    qproperty-line-fg-keyword: #81A1C1;
    qproperty-line-fg-register-name: #8FBCBB;
    qproperty-line-fg-import-name: #93AFCF;
    qproperty-line-fg-segment-name: #5E81AC;
    qproperty-line-fg-dummy-unknown-name: #5E81AC;
    qproperty-line-fg-code-name: #81A1C1;
    qproperty-line-fg-unknown-name: #8FBCBB;
    qproperty-line-fg-collapsed-line: #5f6c85;
    qproperty-line-bg-highlight: #171A20;
    qproperty-line-bg-bpt-enabled: #BF616A;
    qproperty-line-bg-bpt-disabled: #EBCB8B;
    qproperty-line-bg-default: #1E222A;
    qproperty-line-bg-selected: #353535;
    qproperty-line-pfx-libfunc: #434C5E;
    qproperty-line-pfx-func: #434C5E;
    qproperty-line-pfx-insn: #434C5E;
    qproperty-line-pfx-data: #434C5E;
    qproperty-line-pfx-unexplored: #434C5E;
    qproperty-line-pfx-extern: #434C5E;
    qproperty-line-pfx-current-line: #434C5E;
    qproperty-line-pfx-current-item: #434C5E;
    qproperty-line-pfx-lumina: #434C5E;
    qproperty-graph-bg-top: #171A20;
    qproperty-graph-bg-bottom: #171A20;
    qproperty-graph-node-title-normal: #434C5E;
    qproperty-graph-node-title-selected: #7b88a1;
    qproperty-graph-node-title-current: #7b88a1;
    qproperty-graph-edge-normal: #93AFCF;
    qproperty-graph-edge-yes: #A3BE8C;
    qproperty-graph-edge-no: #81A1C1;
    qproperty-graph-edge-current: #BF616A;
}

MainMsgList
{
    color: #ABB2BF;
    background-color: #171A20;
}

TCpuRegs
{
    background-color: #1e222a;
    qproperty-register-defined: #D8DEE9;
    qproperty-register-changed: #EBCB8B;
    qproperty-register-edited: #D08770;
    qproperty-register-unavailable: #3B4252;
}

TCpuRegs IDALabel
{
    color: #ABB2BF;
}

TextArrows
{
    qproperty-jump-in-function: #AAA99F;
    qproperty-jump-external-to-function: #81A1C1;
    qproperty-jump-under-cursor: #93AFCF;
}

navband_t
{
    qproperty-lib-function: #D8DEE9;
    qproperty-function: #7b88a1;
    qproperty-code: #81A1C1;
    qproperty-data: #A3BE8C;
    qproperty-undefined: #5E81AC;
    qproperty-extern: #B48EAD;
    qproperty-error: #BF616A;
    qproperty-gap: #434C5E;
    qproperty-cursor: #ECEFF4;
    qproperty-auto-analysis-cursor: #ABB2BF;
    qproperty-lumina-function: #EBCB8B;
}

TextEdit
{
    qproperty-keyword1-fg: #8FBCBB;
    qproperty-keyword2-fg: #81A1C1;
    qproperty-keyword3-fg: #5E81AC;
    qproperty-string-fg: #A3BE8C;
    qproperty-comment-fg: #5f6c85;
    qproperty-preprocessor-fg: #ABB2BF;
}

TextEdit QWidget
{
    background-color: transparent;
}

TextEdit text_edit_margin_widget_t
{
    color: #D8DEE9;
    qproperty-header-color: #E5E9F0;
}

TChooser
{
    qproperty-highlight-bg-default: #BF616A;
    qproperty-highlight-bg-selected: #B48EAD;
}
